<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><Twitter Friends - 500 error</title>
	
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="css/error.css" media="all" />
</head>
<body class="blue_2" id="bg_1">
  <div class="error_main">
		<!--Place Your Logo Here--> 
		     
		<!--Displays UFO -->     
        <div class="ufo ufo-image">
        </div>
		<!--You can change this text to any type of error you need (401, 403, 404, 500, 503, etc...) -->  
        <h2 class="text_1">
          <span class="error_text_span">500 error</span>
        </h2>
        
        <h1 class="text_2">
          <span class="big_error_text_span custom_font">We've got a problem</span>
        </h1>
        
        <div class="text_3">
            <p class="reasons_big custom_font">There's a lot of reasons why this page is <span class="error_type">500</span>.</p>
            <p class="reasons_small custom_font">Don't waste your time enjoying the look of it</p>
        </div>
        
        <div class="text_4">
            <p class="solutions_text custom_font">As always we are offering you solutions</p>
        </div>
  
  		<div class="mybutton">
  			<a class="btn btn-primary btn-lg btnleft" href="/" style="width: 147px"> Back to Home </a>
  			<a class="btn btn-primary btn-lg btnright" href="/search" style="width: 147px"> New Search </a>
  		</div>
  </div>
</body>
</html>